@import url(https://fonts.googleapis.com/css?family=Neucha);
#adsWrapper{
  width: 100%;
  background-color: white;
}

#imgContainer{
  float: left;
  width: 55%;
  margin-left: 6%;
}

.mainImage img{
 width: 100%;
 height: auto;
}

#imgContainer .smallImgs{
  width:17%;
  float:left;
  margin-right: 4%;
}
#imgContainer .smallImgs img{
  width:100%;
  height: auto;
  cursor:pointer;
}

#nameOfArticle{
  float: left;
  width: 100%;
  margin-left: 9%;
  font-family: 'Neucha', cursive;
  
}

.generalDetails{
  float: right;
  width: 30%;
  margin-bottom: 2%;
  height: 100px;
  background-color: purple;
  font-family: 'Neucha', cursive;
  padding: 1%;
}

#additionalInfo{
  width: 100%;
  border-top: 2px solid purple;
  font-family: "arial";
  text-align: left;
  font-weight: normal;
  /*padding: 1%;*/
  font-size: 1em;


}

.owner{
  background-color: rgba(249,195,87,0.8);
}

.socialMedia{
  background-color: rgba(91,53,100,0.7);
}

.traits{
  background-color: rgba(98,177,192,0.8);
}
.socialWrapper2{
  padding-right:22%;
  margin-top:5%;
}
.socialWrapper2 .social{
  float: right; 
  margin-right: 20%;
}

.socialWrapper2 .social.facebook2{
    background: url(../images/blackwhiteicons.png) -11px 46px;
    width: 34px;
    height: 34px;
    border-radius: 25px;
}

.socialWrapper2 .social.twitter2{
    background:url(../images/blackwhiteicons.png) -56px 46px;
    width: 34px;
    height: 34px;
    border-radius: 25px;
}

.socialWrapper2 .social.instagram2{
    background:url(../images/blackwhiteicons.png) -101px 46px;
    width: 34px;
    height: 34px;
    border-radius: 25px;
}