html,body,ul,a,button,li,hr{
	margin: 0;
	padding: 0;
}

body,html{
	width: 100%;
	height: 100%;
	background-color: #F1EEEE;
	background-image: url("../images/paw.png");
}

a{
	text-decoration: none;
    color: #578DF9;
}

a:visited{
    color: #578DF9;
}

#overlay{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 9988;
    background-color: rgba(56,56,56,0.5);
    display:none;
}

#wrapper{
	margin: 0 auto;
	width: 81%;
	height: 100%;
	background-color: white;
}

#header{
	width: 100%;
	border:1px solid rgb(249,195,87);
}

.clear{
	clear: both;
}

#logo{
	float: left;
	width: 21%;
}

.search{
	float: left;
	width: 55%;
	margin-top: 70px;
}

.searchInput{
    border:1px solid rgbа(91,53,100,0.5);
    border-radius: 3px 0 0 3px;
    border-right: 0;
    float: left;
    width: 50%;
    padding: 10px 5px;

}

.submitButton{
    height: 40px;
    width: 110px;
    float: left;
    position: relative;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: rgb(249,195,87);
}

.searchInput:focus{
    outline: 0;
    background: #F3EFEF;
    box-shadow: 0 0 2px rgba(57,57,57,.8) inset;
}

.submitButton:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent rgb(249,195,87) transparent;
    top: 12px;
    left: -6px;
}

.account{
	float: right;
	width: 22%;
    margin-top: 10px;
    margin-right: 23px;
}

.account>a{
    float: right;
    font-family: arial;
    line-height: 60px;
    text-align: center;
    width: 115px;
}

.account>a:hover{
    background-color: rgb(249,195,87);
}

#loginForm{
    width: 21%;
    border:1px solid black;
    position: absolute;
    z-index: 9999;
    display: none;
    top: 20%;
    left: 40%;
    background-color: white;
    border-radius: 20px;
    }

@media only screen and (max-width: 1024px){
    #loginForm{
    width: 300px;
    left: 30%;
    }
}

.loginUserName,.loginPassword{
    font-family: arial;
    display: block;
    margin: 20px 0 0 15px;

}

.loginInputs{
    width: 70%;
    margin:30px 0px 0 37px;
    border:1px solid black;
    display: inline-block;
    padding: 5px;

}

.loginSubmit{
    float: right;
    margin:20px 110px 20px 0;
    border-radius: 7px;
    width: 90px;
    height: 37px;
    background-color:white;
}

#loginForm a{
    display: block;
    margin: 15px 0 6px 53px;
}

.accountHeader{
    text-align: center;
    font-family: arial;
    width: 90%;
    margin:0 auto;
    border-bottom: 1px dotted black;
}

.runningcat{
    width: 50%;
    margin:17px 15px 0 80px;
    float: left;
}

.hr{
    border-color: rgb(249,195,87);
    background-color: rgb(249,195,87);
}

.mainmenu{
	margin-top: 30px;
	float: left;
	width: 79%;
}

.menu1>li{
	float: left;
	list-style-type: none;
	width: 150px;
	line-height: 60px;
	text-align: center;
}

.menu1 li>a{
	color: black;
	font-size: 20px;
	/*font-weight: bold;*/
	font-family: "Comic Sans MS", cursive, sans-serif;
	display: block;
}

.menu1 a:hover{
	background-color: rgb(249,195,87);
}

.menu1 li.dog a:hover{
	background-color: rgb(91,53,100);
	color: rgb(249,195,87);
}

.menu1 li.cat a:hover{
	background-color: rgb(91,53,100);
	color: rgb(249,195,87);
}

/*carousel*/
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    float:left;
    height: auto;
    max-width: 50%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
.more1{
	position:absolute;
	bottom: 0;
	left: 0;
	color: rgb(91,53,100);
	background-color: #ECE5E5;
	font-weight: bold;
	z-index: 999;
}

.more2{
	position:absolute;
	bottom: 0;
	right: 0;
	color: rgb(91,53,100);
	background-color: #ECE5E5;
	font-weight: bold;
	z-index: 999;
}

.obqva{
    width: 31%;
    background-color: rgba(255,255,255, 1);
    float: left;
    margin:10px 10px 10px 14px;
    border: 1px solid black;
}

.section{
    width: 100%;
    margin-bottom: 10px;
}

.imgobqva{
    max-width: 70%;
    float: right;
    margin-left: 15px;
}

.textobqva{
    text-align: justify;
}

.headerobqva{
    width: 100%;
}

.obqvifooter{
    float: right;
}

.footer{
    width: 100%;
    border:1px solid rgb(249,195,87);
    background-color: white;
}

.footer .socialwrapper{
    margin: 0 auto;
    width: 82%;
    height: 100%;
    background-color: white;
}

.footer .social{
    display: block;
    float: right;
}

.social.fb{
    background:url(../images/socialicons.png) -148px 0;
    width: 45px;
    height: 45px;
}

.social.twitter{
    background:url(../images/socialicons.png) -240px 0;
    width: 45px;
    height: 45px;
}

.social.google{
    background:url(../images/socialicons.png) -50px -45px;
    width: 45px;
    height: 45px;
}

.social.instagram{
    background:url(../images/socialicons.png) -50px 0;
    width: 45px;
    height: 45px;
}

.social.pinterest{
    background:url(../images/socialicons.png) -243px -45px;
    width: 45px;
    height: 45px;
}

.social.youtube{
    background:url(../images/socialicons.png) -155px -45px;
    width: 45px;
    height: 45px;
}

.copyright{
    float: left;
}

#arrow{
    width: 20px;
    height: 20px;
    display: none;
    position: fixed;
    background-color: black;
}

#arrow>a{
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
}