html,body,ul,a,button,li,hr{
	margin: 0;
	padding: 0;
}

body,html{
	width: 100%;
	height: 100%;
	background-color: #F1EEEE;
	background-image: url("../images/paw.png");
}

a{
	text-decoration: none;
    color: #578DF9;
}

a:visited{
    color: #578DF9;
}

#overlay{
    display:none;
    position: fixed;
    width: 100%;
    height:100%;
    background-color: rgba(56,56,56,0.5);
    z-index: 9988;
}

#wrapper{
	margin: 0 auto;
	width: 81%;
	height: 100%;
	background-color: white;
}

#header{
	width: 100%;
	border:1px solid rgb(249,195,87);
}

.clear{
	clear: both;
}

#logo{
	float: left;
	width: 21%;
}

.search{
	float: left;
	width: 55%;
	margin-top: 70px;
}

.searchInput{
    float: left;
    width: 50%;
    padding: 10px 5px;
    border:1px solid rgbа(91,53,100,0.5);
    border-radius: 3px 0 0 3px;
    border-right: 0;
}

.submitButton{
    position: relative;
    float: left;
    padding: 0;
    height: 40px;
    width: 110px;
    border: 0;
    cursor: pointer;
    background-color: rgb(249,195,87);
}

.searchInput:focus{
    outline: 0;
    background: #F3EFEF;
    box-shadow: 0 0 2px rgba(57,57,57,.8) inset;
}

.submitButton:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent rgb(249,195,87) transparent;
    top: 12px;
    left: -6px;
}

.account{
	float: right;
    margin-top: 10px;
    margin-right: 23px;
	width: 22%;
}

.account>a{
    float: right;
    width: 115px;
    line-height: 60px;
    text-align: center;
    font-family: arial;    
}

.account>a:hover{
    text-decoration: underline;
    background-color: rgb(249,195,87);
}

/*LOGIN , REGISTER , FORGOTTEN PASSWORD CSS*/
#loginForm{
    display: none;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 21%;
    border:1px solid black;
    border-radius: 20px;
    background-color: white;
    z-index: 9999;
}

@media only screen and (max-width: 1024px){
    #loginForm{
    width: 300px;
    left: 30%;
    }
}

.loginUserName,.loginPassword,.registerUserName,
.registerInputs,.registerPassword,.registerEmail,
.forgottenPassword,.forgottenPasswordInputs{
    display: block;
    margin: 20px 0 0 15px;
    font-family: arial;
}

.loginInputs,.registerInputs{
    display: inline-block;
    margin:30px 0px 0 37px;
    padding: 5px;
    width: 70%;
    border:1px solid black;
}

.loginSubmit{
    float: right;
    width: 90px;
    height: 37px;
    margin:20px 110px 20px 0;
    border-radius: 7px;
    background-color:white;
    cursor: pointer;
}

#loginForm a{
    display: block;
    margin: 15px 0 6px 53px;
}

#loginForm>span,#registerForm>span,#forgottenPasswordForm>span{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.accountHeader{
    width: 90%;
    margin:0 auto;
    text-align: center;
    font-family: arial;
    border-bottom: 1px dotted black;
}

.runningCat{
    float: left;
    width: 50%;
    margin:17px 15px 0 80px;
}

.hr{
    border-color: rgb(249,195,87);
    background-color: rgb(249,195,87);
}

#registerForm{
    display: none;
    position: absolute;
    top: 8%;
    left: 40%;
    width: 27%;
    border:1px solid black;
    border-radius: 20px;
    background-color: white;
    z-index: 9999;
}

.registerSubmit{
    float: right;
    margin:20px 150px 20px 0;
    width: 90px;
    height: 37px;
    border-radius: 7px;
    background-color:white;
    cursor: pointer;
}

@media only screen and (max-width: 1024px){
    #registerForm{
    width: 400px;
    left: 25%;
    }
}

#forgottenPasswordForm{
    display: none;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 21%;
    height: 360px;
    border:1px solid black;
    border-radius: 20px;
    background-color: white;
    z-index: 9999;
}

.forgottenPasswordInputs{
    display: inline-block;
    width: 70%;
    margin:30px 0px 0 16px;
    padding: 5px;
    border:1px solid black;
}

.forgottenPasswordSubmit{
    float: right;
    width: 90px;
    height: 37px;
    margin:30px 110px 20px 0;
    border-radius: 7px;
    background-color:white;
    cursor: pointer;
}

form>h4{
    margin-left: 9px;
}

/*END OF LOGIN,REGISTER AND FORGOTTEN PASSWORD ENDS HERE*/
/*MAIN MENU CSS GOES HERE*/
.mainMenu{
    float: left;
    width: 79%;
	margin-top: 30px;
}

.menu1>li{
	float: left;
    width: 150px;
    text-align: center;
    list-style-type: none;
    line-height: 60px;	
}

.menu1 li>a{
    display: block;
	color: black;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.menu1 a:hover{
	background-color: rgb(249,195,87);
}

.menu1 li.dog a:hover{
	background-color: rgb(91,53,100);
	color: rgb(249,195,87);
}

.menu1 li.cat a:hover{
    color: rgb(249,195,87);
	background-color: rgb(91,53,100);
}

/*MAIN MENU CSS ENDS HERE*/
/*CAROUSEL CSS GOES HERE*/
.carousel {
    position: relative;
    margin-top: 26px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    float:left;
    height: auto;
    max-width: 50%;
}

.carousel-control {
    display: none;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 35px;
    color: #fff;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    display: block;
    color: #fff;
    font-size: 35px;
    cursor: pointer;    
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}
/*CAROUSEL CSS ENDS HERE
-----------------------------------------------------------------------------------------------------------
PIBLISH ADS SECTIONS CSS GOES HERE*/
#title {
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    z-index: 9999;
}

.more1{
	position:absolute;
	bottom: 0;
	left: 0;
    font-weight: bold;
	color: rgb(91,53,100);
	background-color: #ECE5E5;
	z-index: 999;
}

.more2{
	position:absolute;
	bottom: 0;
	right: 0;
	color: rgb(91,53,100);
    background-color: #ECE5E5;
    font-weight: bold;
	z-index: 999;
}

.ad{
    float: left;
    width: 31%;
    margin:10px 10px 10px 14px;
    background-color: rgba(255,255,255, 1);
    border: 1px solid black;
}
/*
-------------------------------------------------------------------------------------------------------------
SUBMENU 3 SECTIONS GOES HERE*/
.section{
    width: 100%;
    margin-bottom: 10px;
}

#wrappSection{
    position: relative;
    width: 100%;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
  background-color: white;
}

.subMenuImg{
    display: inline-block;
    position: relative;
    width: 30%;
    height: 90%;
    margin-left: 2%;
    margin-top: 2%;
    border:1px solid black;
    background-color: white;
}

.subMenuImg>a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.subMenuImg>a>img{
    width: 100%;
    height: 100%;
}

#wrappSection span{
    position: absolute;
    text-align: center;
    width: 100%;  
    font-size: 100%;
    line-height: 40px;
    font-family: arial;
    font-weight: bold;
    color: black;
    background-color: rgba(255,255,255,0.4);
}

#wrappSection a:hover span{
    background-color: rgb(249,195,87);
}
/*SUBMENU SECTIONS ENDS HERE
-----------------------------------------------------------------------------------------------------------
*/
.imgAd{
    float: right;
    margin-left: 15px;
    max-width: 70%;
}

.textAd{
    text-align: justify;
}

.headerAd{
    width: 100%;
}

.adFooter{
    float: right;
}

.adSocialShare{
    display: inline-block;
    background:url(../images/socialicons.png) -148px 0;
    width: 45px;
    height: 45px;
}

.article{
    width: 40%;
    background-color: white;
    float: left;
}

/*
------------------------------------------------------------------------------------------------------------------
FOOTER AND ARROW TO TOP CSS GOES HERE*/
.footer{
    width: 100%;
    border:1px solid rgb(249,195,87);
    background-color: white;
}

.footer .socialWrapper{
    margin: 0 auto;
    width: 82%;
    height: 100%;
    background-color: white;
}

.footer .social{
    display: block;
    float: right;
}

.social.fb{
    background:url(../images/socialicons.png) -148px 0;
    width: 45px;
    height: 45px;
}

.social.twitter{
    width: 45px;
    height: 45px;
    background:url(../images/socialicons.png) -240px 0;
}

.social.google{
    width: 45px;
    height: 45px;
    background:url(../images/socialicons.png) -50px -45px;    
}

.social.instagram{
    width: 45px;
    height: 45px;
    background:url(../images/socialicons.png) -50px 0;
}

.social.pinterest{
    width: 45px;
    height: 45px;
    background:url(../images/socialicons.png) -243px -45px;
}

.social.youtube{
    width: 45px;
    height: 45px;
    background:url(../images/socialicons.png) -155px -45px;
}

.copyRight{
    float: left;
}

#arrow{
    display: none;
    position: fixed;
    bottom: 0;
    right: 60px;
    width: 40px;
    height: 40px;
    background-image: url(../images/totop.png);
}

#arrow>a{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
}
/*FOOTER AND ARROW TO TOP CSS ENDS HERE